<label class="toggle-container">
  <input
    [attr.aria-label]="label"
    class="toggle-input"
    type="checkbox"
    role="checkbox"
    [attr.aria-checked]="checked"
    [checked]="checked"
  />
  <span class="slider"></span>
</label>
