.toggle-container {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 25px;

  .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #2f4252;
    }

    &:focus + .slider {
      outline: 2px solid #8f8fc3;
    }

    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #b4b4b4;
    transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out,
      outline 0.2s ease-in-out;

    &:before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 19px;
      width: 19px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 0.3s;
    }
  }
}
