<app-page-loading [loading]="(hasStarted$ | async) !== true"></app-page-loading>

<h1 class="page-title">{{ "home.title" | transloco }}</h1>
<h2 class="page-subtitle">
  {{ "home.subtitle" | transloco }}
</h2>

<div class="stocks-container">
  <app-stock-item
    *ngFor="let stock of stocks$ | async; trackBy: trackStocks"
    aria-label="Stock data"
    [stock]="stock"
    (disableStock)="onDisableStock($event)"
    (enableStock)="onEnableStock($event)"
  ></app-stock-item>
</div>
