.page-title,
.page-subtitle {
  text-align: center;
  color: #fafafa;
  margin-inline: 24px;
}

.page-subtitle {
  font-size: 16px;
}

.stocks-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 24px;
  margin-block: 24px;
  padding-inline: 24px;
}
