:host {
  outline: none;
  border-radius: 12px;

  .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #fafafa;
    box-shadow: 0px 0px 6px #000000;
    cursor: pointer;
    border-radius: 10px;

    &.disabled {
      background: #dbdbdb;
    }

    &.positive:not(.disabled) {
      background: #84ff88;
    }

    &.negative:not(.disabled) {
      background: #ff8484;
    }

    .actions {
      margin: 12px 0 24px;
      pointer-events: none;
    }

    .card-title {
      margin: 24px 0 8px;
    }

    .card-subtitle {
      margin: 0;
    }

    .section {
      .extra-info-title {
        font-size: 12px;
        font-weight: bold;
        margin: 0px 0px 4px;
      }

      .extra-info-body {
        margin: 0;
      }
    }
  }

  @media (max-width: 580px) {
    .desktop-info {
      display: none;
    }
  }
}
