<div
  class="card"
  [ngClass]="{
    positive: stock.change && stock.change > 0,
    negative: stock.change && stock.change < 0,
    disabled: !stock.enabled
  }"
>
  <h2 class="card-title">{{ stock.id }}</h2>

  <h3 class="card-subtitle">
    <div *ngIf="stock.price; else noPrice">
      {{ stock.price | currency : "USD" }}
    </div>
    <ng-template #noPrice> - </ng-template>
  </h3>

  <div class="section">
    <h4 class="extra-info-title">{{ "stock.priceChange" | transloco }}</h4>
    <p class="extra-info-body">
      {{ stock.change && stock.change > 0 ? "+" : ""
      }}{{ (stock.change | number : "1.2-2") || "-" }}
    </p>
  </div>

  <div class="section">
    <h4 class="extra-info-title">{{ "stock.priceChange" | transloco }} (%)</h4>
    <p class="extra-info-body">
      <ng-container *ngIf="stock.changePercent; else noChangePercent">
        {{ stock.changePercent > 0 ? "+" : ""
        }}{{ stock.changePercent | number : "1.2-2" }}%
      </ng-container>
      <ng-template #noChangePercent> - </ng-template>
    </p>
  </div>

  <div class="section">
    <h4 class="extra-info-title">{{ "stock.dailyHigh" | transloco }}</h4>
    <p class="extra-info-body">
      {{
        !!stock.historicalData
          ? (stock.historicalData.regularMarketDayHigh | currency : "USD")
          : "-"
      }}
    </p>
  </div>

  <div class="section">
    <h4 class="extra-info-title">{{ "stock.dailyLow" | transloco }}</h4>
    <p class="extra-info-body">
      {{
        !!stock.historicalData
          ? (stock.historicalData.regularMarketDayLow | currency : "USD")
          : "-"
      }}
    </p>
  </div>

  <div class="section desktop-info">
    <h4 class="extra-info-title">{{ "stock.fiftyTwoWeekHigh" | transloco }}</h4>
    <p class="extra-info-body">
      {{
        !!stock.historicalData
          ? (stock.historicalData.fiftyTwoWeekHigh | currency : "USD")
          : "-"
      }}
    </p>
  </div>

  <div class="section desktop-info">
    <h4 class="extra-info-title">{{ "stock.fiftyTwoWeekLow" | transloco }}</h4>
    <p class="extra-info-body">
      {{
        !!stock.historicalData
          ? (stock.historicalData.fiftyTwoWeekLow | currency : "USD")
          : "-"
      }}
    </p>
  </div>

  <div class="actions">
    <app-toggle-switch
      label="Toggle switch for stock {{ stock.id }} "
      [checked]="stock.enabled"
    ></app-toggle-switch>
  </div>
</div>
